<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap" rel="stylesheet">

</header>

<div class="container-fluid header-USPS ">
  <div class="container">
    <div class="row align-items-center webView">
      <div class="col align-items-center">
        <p class="header-p"><img src="../assets/icons-header/fluent_checkmark-starburst-20-regular.svg" alt=""
            class="icon"> 30-DAY
          SATISFACTION GUARANTEE</p>
      </div>
      <div class="col">
        <p class="header-p"><img src="../assets/icons-header/Vector.svg" alt="" class="icon"> Free delivery on orders
          over
          $40.00</p>
      </div>
      <div class="col">
        <p class="header-p"><img src="../assets/icons-header/Vector (1).svg" alt="" class="icon"> 50.000+ HAPPY
          CUSTOMERS
        </p>
      </div>
      <div class="col">
        <p class="header-p"><img src="../assets/icons-header/fluent_arrow-sync-checkmark-20-regular.svg" alt=""
            class="icon"> 100% Money Back
          Guarantee</p>
      </div>
    </div>
  </div>

  <div id="carouselExampleCaptions" class="carousel slide mobileView">
  
    <div class="carousel-inner">
  
      <div class="carousel-item active text-center">
        <p class="header-p"><img src="../assets/icons-header/fluent_checkmark-starburst-20-regular.svg" alt=""
            class="icon"> 30-DAY SATISFACTION GUARANTEE</p>
      </div>
  
      <div class="carousel-item text-center">
        <p class="header-p"><img src="../assets/icons-header/Vector.svg" alt="" class="icon"> Free delivery on orders
          over $40.00</p>
      </div>
  
      <div class="carousel-item text-center">
        <p class="header-p"><img src="../assets/icons-header/Vector (1).svg" alt="" class="icon"> 50.000+ HAPPY
          CUSTOMERS</p>
      </div>
  
      <div class="carousel-item text-center">
        <p class="header-p"><img src="../assets/icons-header/fluent_arrow-sync-checkmark-20-regular.svg" alt=""
            class="icon"> 100% Money Back Guarantee</p>
      </div>
  
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container text-center ">
  <div class="title-header">
    <div>
      <img src="../assets/header-images/600a41c73b670a97ae1d4f47_Clarifion_Logo 1 (1).svg" alt="" class="image-header">
    </div>
    <div class="row">
      <div class="col-6">
        <img src="../assets/header-images/McAfee_Secure (1).svg" alt="" width="50">
      </div>
      <div class="col-6">
        <img src="../assets/header-images/norton-antivirus-logo 1.png" alt="" width="50">
      </div>
    </div>
  </div>

  <div class="tittle">
    <h1>Wait ! your order in progress.</h1>
  </div>
  <br>
  <div class="tittle">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing</p>
  </div>

  <br>
  <br>

  <div class="steps container">
    <div class="webViewStep">
      <div>
        <p class="step-text"><img src="../assets/header-images/Group 1484578147.png" alt="" class="icon-step"> Step 1 :
          Cart
          Review</p>
      </div>
      <div>
        <p class="step-text"><img src="../assets/header-images/Group 1484578147.png" alt="" class="icon-step"> Step 2 :
          Checkout</p>
      </div>
      <div>
        <p class="step-text"><img src="../assets/header-images/Group 1484578146.png" alt="" class="icon-step"> <b>Step 3
            :
            Special Offer</b></p>
      </div>
      <div>
        <p class="step-text"><img src="../assets/header-images/Group 1484578146 (1).png" alt="" class="icon-step"> Step
          4 :
          Confirmation</p>
      </div>
    </div>

    <div class="mobileViewStep">
      <div>
        <img src="../assets/header-images/Group 1484578147.png" alt="" class="icon-step" width="25px">
        <p class="step-text">Cart
          Review</p>
      </div>
      <div>
        <img src="../assets/header-images/Group 1484578147.png" alt="" class="icon-step" width="25px">
        <p class="step-text">
          Checkout</p>
      </div>
      <div>
        <img src="../assets/header-images/Group 1484578146.png" alt="" class="icon-step" width="25px">
        <p class="step-text"><b>
            Special Offer</b></p>
      </div>
      <div>
        <img src="../assets/header-images/Group 1484578146 (1).png" alt="" class="icon-step" width="25px">
        <p class="step-text">
          Confirmation</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="container product-screan">
  <div class="row">
    <div class="col-lg-6 col-md-12">
      <div class="product-titleMobile">
        <h3>
          <span style="color: #2C7EF8;">ONE TIME ONLY</span> Special Price For 6 Extra Clarifion For Only
          <span style="color: #2C7EF8;">$14 Each</span> ($84.00 Total!)
        </h3>
      </div>
      <div>
        <img src="../assets/man-images/image 4.svg" alt="" width="100%">
      </div>

      <div class="coment-card">
        <div class="card inner-card" style="border: none;">
          <div class="card-body">
            <div style="display: flex;">
              <img src="../assets/man-images/Rectangle 1127.svg" alt="">
              <div style="margin-left: 20px;">
                <img src="../assets/man-images/Stars.png" alt="">

                <div class="info-coment">
                  <h5 class="card-title">Ken T. </h5>
                  <img src="../assets/man-images/Vector (3).svg" alt="">
                  <p style="color: #5BB59A;">Verified Customer</p>
                </div>
              </div>
            </div>
            <p class="card-text coment-text">“As soon as the Clarifions arrived I put one in my bedroom. This was late
              in the afternoon. When I went to the bedroom
              in the evening it smelled clean. When I went to bed I felt I could breathe better. Wonderful.”</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12 ms-auto">
      <div class="product-titleWeb">
        <h3>
          <span style="color: #2C7EF8;">ONE TIME ONLY</span> Special Price For 6 Extra Clarifion For Only
          <span style="color: #2C7EF8;">$14 Each</span> ($84.00 Total!)
        </h3>
      </div>
      <br>
      <div class="product-info">
        <div class="row">
          <!-- Coluna para a imagem -->
          <div class="col-lg-3 col-md-12 text-center mb-3">
            <img src="../assets/man-images/Group 1484578135.svg" alt="">
          </div>
      
          <!-- Coluna para as informações (título, estrelas, quantidade) -->
          <div class="col-lg-9 col-md-12">
            <!-- Div para o título e preços -->
            <div class="product-info-title d-flex justify-content-between align-items-center">
              <h5>Clarifion Air Ionizer</h5>
              <h5>
                <span style="text-decoration: line-through; color: #969696; margin-right: 10px;">$180</span>
                <span style="color: #2C7EF8;">$84</span>
              </h5>
            </div>
      
            <!-- Div para as estrelas e quantidade -->
            <div class="d-flex justify-content-between">
              <div class="product-info-stars">
                <img src="../assets/man-images/Stars.png" alt="">
              </div>
              <div class="product-info-qtd">
                <div>
                  <img src="../assets/man-images/Group 1000001340.svg" alt="">
                </div>
                <div>
                  <p class="product-info-qtd-text">12 left in Stock</p>
                </div>
              </div>
            </div>
      
            <!-- Div para o texto -->
            <div class="product-info-text mt-3">
              <p>
                Simply plug a Clarifion into any standard outlet and replace bulky, expensive air purifiers with a simple.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="product-assets" style="margin-top: 20px;">
        <ul>
          <li>Negative Ion Technology may <b>help with allergens</b></li>
          <li>Designed for <b>air rejuvenation</b></li>
          <li><b>Perfect for every room</b> in all types of places.</li>
        </ul>
      </div>
      <br>
      <div class="product-save">
        <div>
          <img src="../assets/man-images/Group 1000004656.svg" alt="">
        </div>
        <div class="product-save-text">
          <p>Save <span>53%</span> and get <span>6 extra Clarifision</span> for only <span>$14 Each</span>.</p>
        </div>
      </div>
      <br>
      <br>
      <div class="product-button-security d-flex flex-wrap align-items-center justify-content-center gap-2 text-center">
        <button class="btn w-100" style="border-radius: 50px; background-color: #59AE43; color: white; height: 59px;"
          type="button">YES - CLAIM MY DISCOUNT <span style="margin-left: 10px;"><img src="../assets/man-images/Line 1.svg"
              alt=""></span></button>
      
        <div class="d-flex flex-wrap align-items-center justify-content-center">
          <img src="../assets/man-images/Frame 1000004691.svg" alt="" class="imgWeb">
          <img src="../assets/man-images/Frame 1000004691 (1).svg" alt="" class="imgMobile">
        </div>
        <br>
        <h5 style="text-decoration: underline red; color: red;">NO THANKS, I DON'T WANT THIS</h5>
      </div>



      <br>
      <div class="product-certificate row">
        <div class="col-2">
          <img src="../assets/man-images/image 6.svg" alt="">
        </div>
        <div class="col-10">
          <p class="product-certificate-text">If you are not completely thrilled with your Clarifion - We have a <b>30
              day satisfaction guarantee</b>. Please refer to our
            return policy at the bottom of the page for more details. Happy Shopping!</p>
        </div>
      </div>



    </div>
  </div>
</div>

<div class="container-fluid footer-HTS">
  <div class="container footer-HTSMAIN">
    <div style="text-align: center;">
      <h6>Copyright (C) 2023 | clarifionsupport@clarifion.com</h6>
    </div>
    <div style="text-align: center;">
      <h6><span><img src="../assets/cards/lock (7) 1.svg" alt=""
            style="margin-right: 10px; margin-bottom: 4px; color: white;"></span>Secure 256-bit SSL Encryption.</h6>
    </div>
  </div>
</div>